@{
    ViewData["Title"] = "Početna";
}
<h1>Dobrodošli u SchoolManagerMVC</h1>
<p>
    <a asp-controller="Razredi" asp-action="Index" class="btn btn-primary">Pregled razreda</a>
    <a asp-controller="Ucenici" asp-action="Index" class="btn btn-success">Pregled učenika</a>
</p>